body {
background-color: #E9D6EC;
}
img {
	width: 400px;
}
li {
list-style-type: none;
display: inline;
margin: 0px 15px;

}
ul {
padding: 0px;
list-style-type: none;
opacity: 0;
transition: opacity .3s ease;
}
.title {
font-family: Helvetica;
background-color: #fff;
text-align: center;
width: 40%;
margin: 0 auto 25px auto;
border: solid;
}
.breakfast {
font-family: Helvetica;
background-color: #fff;
text-align: center;
padding-bottom: 5px;
width: 40%;
margin: 0 auto 25px auto;
border: solid;
}
.breakfast h2 {
color: magenta;
}
.breakfast:hover ul{
opacity: 1;
}
.lunch {
font-family: Helvetica;
background-color: #fff;
text-align: center;
padding-bottom: 5px;
width: 40%;
margin: 0 auto 25px auto;
border: solid;
}
.lunch h2 {
color: lavender;
}
.lunch:hover ul{
opacity: 1;
}
.supper {
font-family: Helvetica;
background-color: #fff;
text-align: center;
padding-bottom: 5px;
width: 40%;
margin: 0 auto 25px auto;
border: solid;
}
.supper h2 {
color: purple;
}
.supper:hover ul{
opacity: 1;
}
.snacks {
font-family: Helvetica;
background-color: #fff;
text-align: center;
padding-bottom: 5px;
width: 40%;
margin: 0 auto 25px auto;
border: solid;
}
.snacks h2{
color: blue;
}
.snacks:hover ul{
opacity: 1;
}
.heada {
font-family: Helvetica;
text-decoration: underline;
text-align: center;
padding-top: 5px;
padding-left: 10px;
width: 40%;
}